*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Segoe UI",sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;

}
.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
}
header{
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}
header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: #fff;
    margin-left: 1rem;
    text-decoration: none;
    font-weight: bold;
}
#hero{
    background-color:#e3e3e3;
    text-align: center;
    padding: 4rem 2rem;
}
#hero h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
section{
    margin-bottom: 1.5rem;
    color: #222;
}
.projects-grid{
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.projects-card{
    background-color: #fff;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1.1);
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
a{
    color:#0077cc;
}
@media (max-width: 600px) {
    header.container {
        flex-direction: column;
        align-items: flex-start;
    }
    nav a {
        margin-left: 0;
        margin-top: 0.5rem;
    }
   
}
button{
    background-color: #484746;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #3a3b3c;
    border-radius: 50px;
}
#Achivments{
    display: block;
  
}
table{
    border-collapse: collapse;
}
th, td{
    padding: 10px;
}


.pf{
        display: flex;
    justify-content: flex-start;

}
.project2{
    display: grid;
    background-color: #fff;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1.1);
    
}